*.bak
*.lock
src/Generex-main/.classpath
src/Generex-main/.project
src/Generex-main/deployment/
src/Generex-main/.mendix-cache/
src/Generex-main/.svn/
src/Generex-main/javasource/administration/
src/Generex-main/javasource/generex/proxies/
src/Generex-main/javasource/system/
src/Generex-main/javasource/generex_unittests/proxies/
GPUCache
.DS_Store
